body{
    background: #FFC015
}

.container{
    width: 400px;
    margin: 300px auto 0;
}



.pencil-red {
    position: relative;
    width: 450px;
    height: 50px;
    margin: 20px auto;
    background :  #AF0000;
    box-shadow :  2px  2px  3px  rgba(0,0,0,0.3);

    background-image:
                    /*ellipse*/
                      radial-gradient(ellipse at top,
                                      rgba(0,0,0,0.6) 85px,
                                      transparent 90px),
                    /*lines*/
                      linear-gradient(to right,
                                      transparent 25px,
                                      rgba(0,0,0,0.6) 25px,
                                      rgba(0,0,0,0.6) 30px,
                                      transparent 30px,
                                      transparent 35px,
                                      rgba(0,0,0,0.6) 35px,
                                      rgba(0,0,0,0.6) 40px,
                                      transparent 40px,
                                      transparent 405px,
                                      rgba(0,0,0,0.6) 405px,
                                      rgba(0,0,0,0.6) 410px,
                                      transparent 410px,
                                      transparent 415px,
                                      rgba(0,0,0,0.6) 415px,
                                      rgba(0,0,0,0.6) 420px,
                                      transparent 420px),
                      /*shadow*/
                      linear-gradient(to bottom,
                                      transparent  62%,
                                      rgba(0,0,0,0.3)  100%),
                      /*wrap*/
                      linear-gradient(to right,
                                      transparent 18px,
                                      rgba(255,26,26,.6) 17px,
                                      rgba(255,26,26,.6) 432px,
                                      transparent 430px);
}


.pencil-green {
    position: relative;
    width: 450px;
    height: 50px;
    margin: 20px auto;
    background :  #237449;
    box-shadow :  2px  2px  3px  rgba(0,0,0,0.3);

    background-image:
                    /*ellipse*/
                      radial-gradient(ellipse at top,
                                      rgba(0,0,0,0.6) 85px,
                                      transparent 90px),
                    /*lines*/
                      linear-gradient(to right,
                                      transparent 25px,
                                      rgba(0,0,0,0.6) 25px,
                                      rgba(0,0,0,0.6) 30px,
                                      transparent 30px,
                                      transparent 35px,
                                      rgba(0,0,0,0.6) 35px,
                                      rgba(0,0,0,0.6) 40px,
                                      transparent 40px,
                                      transparent 405px,
                                      rgba(0,0,0,0.6) 405px,
                                      rgba(0,0,0,0.6) 410px,
                                      transparent 410px,
                                      transparent 415px,
                                      rgba(0,0,0,0.6) 415px,
                                      rgba(0,0,0,0.6) 420px,
                                      transparent 420px),
                      /*shadow*/
                      linear-gradient(to bottom,
                                      transparent  62%,
                                      rgba(0,0,0,0.3)  100%),
                      /*wrap*/
                      linear-gradient(to right,
                                      transparent 18px,
                                      rgba(41,237,133,.6) 17px,
                                      rgba(41,237,133,.6) 432px,
                                      transparent 430px);
}


.pencil-blue {
    position: relative;
    width: 450px;
    height: 50px;
    margin: 20px auto;
    background :  #061D80;
    box-shadow :  2px  2px  3px  rgba(0,0,0,0.3);

    background-image:
                    /*ellipse*/
                      radial-gradient(ellipse at top,
                                      rgba(0,0,0,0.6) 85px,
                                      transparent 90px),
                    /*lines*/
                      linear-gradient(to right,
                                      transparent 25px,
                                      rgba(0,0,0,0.6) 25px,
                                      rgba(0,0,0,0.6) 30px,
                                      transparent 30px,
                                      transparent 35px,
                                      rgba(0,0,0,0.6) 35px,
                                      rgba(0,0,0,0.6) 40px,
                                      transparent 40px,
                                      transparent 405px,
                                      rgba(0,0,0,0.6) 405px,
                                      rgba(0,0,0,0.6) 410px,
                                      transparent 410px,
                                      transparent 415px,
                                      rgba(0,0,0,0.6) 415px,
                                      rgba(0,0,0,0.6) 420px,
                                      transparent 420px),
                      /*shadow*/
                      linear-gradient(to bottom,
                                      transparent  62%,
                                      rgba(0,0,0,0.3)  100%),
                      /*wrap*/
                      linear-gradient(to right,
                                      transparent 18px,
                                      rgba(28,61,204,.6) 17px,
                                      rgba(28,61,204,.6) 432px,
                                      transparent 430px);
}


.pencil-red:before {
    content: "";
    position: absolute;
    height: 10px;
    left: -42px;
    border-right :  42px  solid  #AF0000;
    border-bottom :  20px  solid  transparent;
    border-top :  20px  solid  transparent;
}


.pencil-green:before {
    content: "";
    position: absolute;
    height: 10px;
    left: -42px;
    border-right :  42px  solid  #237449;
    border-bottom :  20px  solid  transparent;
    border-top :  20px  solid  transparent;
}

.pencil-blue:before {
    content: "";
    position: absolute;
    height: 10px;
    left: -42px;
    border-right :  42px  solid  #061D80;
    border-bottom :  20px  solid  transparent;
    border-top :  20px  solid  transparent;
}


.pencil-red:after {
    position: absolute;
    width: 99%;
    right: 0;
    top:12px;
    content :  'red';
    font-family : Arial,  sans-serif;
    font-size :  16px;
    font-weight :  bold;
    color :  rgba(0,0,0,0.3);
    text-align :  right;
    padding-right :  47px;
    padding-top :  10px;

    background-image : linear-gradient(to bottom,rgba(255,255,255,0)  5px, rgba(255,255,255,0.2) 17px,rgba(255,255,255,0.2) 15px, rgba(255,255,255,0) 29px);
}


.pencil-green:after {
    position: absolute;
    width: 99%;
    right: 0;
    top:12px;
    content :  'green';
    font-family : Arial,  sans-serif;
    font-size :  16px;
    font-weight :  bold;
    color :  rgba(0,0,0,0.3);
    text-align :  right;
    padding-right :  47px;
    padding-top :  10px;

    background-image : linear-gradient(to bottom,rgba(255,255,255,0)  5px, rgba(255,255,255,0.2) 17px,rgba(255,255,255,0.2) 15px, rgba(255,255,255,0) 29px);
}


.pencil-blue:after {
    position: absolute;
    width: 99%;
    right: 0;
    top:12px;
    content :  'blue';
    font-family : Arial,  sans-serif;
    font-size :  16px;
    font-weight :  bold;
    color :  rgba(0,0,0,0.3);
    text-align :  right;
    padding-right :  47px;
    padding-top :  10px;

    background-image : linear-gradient(to bottom,rgba(255,255,255,0)  5px, rgba(255,255,255,0.2) 17px,rgba(255,255,255,0.2) 15px, rgba(255,255,255,0) 29px);
}




